html {
    background-color: beige;
}

.Homebutton {
    position: absolute; /* Absolut positionieren */
    top: 10px;          /* Abstand vom oberen Rand */
    right: 10px;        /* Abstand vom rechten Rand */
    
}